<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Sent</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="text-center mt-5 mb-3">Код подтверждения отправлен</h1>
                <p class="text-center">Код подтверждения был отправлен на ваш почтовый ящик. Введите его, чтобы активировать учётную запись.</p>
                <form action="{{ url_for('confirm_email', confirmation_code=confirmation_code) }}" method="post" class="mt-5">
                    <div class="form-group">
                        <label for="confirmation_code">Код подтверждения:</label>
                        <input type="text" name="confirmation_code" id="confirmation_code" class="form-control" required>
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Confirm" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Add Bootstrap and jQuery JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>