
<footer class="footer footer-bar">
<div class="container text-center">
    <span class="mb-0">
      <strong class="text-muted mx-auto mb-0 py-2 text-uppercase">INTERIUM LLC © 2024</strong>. Все права защищены. Контакты: &nbsp;
      <a href="https://t.me/blikind"><i class="fab fa-telegram-plane" aria-hidden="true"></i> Telegram</a> &nbsp;&nbsp;
    </span>
    <p>Используя наш сервис, вы признаете, что прочитали и понимаете <a href="https://interium.ooo/terms-of-use/"><b>Условия использования</b> "</a>.</p>
</div>
</footer>