<section class="bg-half" style="min-height: 100vh;">
      <header id="topnav" class="defaultscroll sticky nav-sticky shadow">
        <div class="container">
          <div> <a class="logo mt-0" href="https://interium.ooo/">Interium<span class="text-primary"></span></a> </div>
          <div class="buy-button"> <a href="/cabinet" class="btn btn-primary" id="register-button"><i class="fa-solid fa-user-plus pr-2"></i>Личный кабинет</a> </div>
          <div class="buy-button navbar-toggle pr-4 "> <a href="javascript://" onclick="navbar_toggle();" aria-label="View menu" class="btn btn-primary" id="navigation-button"><i class="fa-solid fa-bars"></i></a> </div>
          <div id="navigation">
            <ul class="navigation-menu">
              <li><a href="/" id="main">Главная</a></li>
              <li><a href="/buy" id="buy">Купить</a></li>
              <!-- <li><a href="https://interium.ooo/forum/" id="forum">Форум</a></li> -->
              <li><a href="/faq" id="faq">Вопросы и ответы</a></li>
              <li><a href="/support" id="support">Поддержка</a></li>
            </ul>
          </div>
        </div>
      </header>
      <script>
        function navbar_toggle(event) {
          $(this).toggleClass('open');
          $('#navigation').slideToggle(400);
        }
      </script>